footer{
    background-color: $color-primario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    a{
        .logo-footer{
            height: 3.125rem;
            width: 3.4375rem;
        }
    }
    .contactanos{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "montserrat";
        h6{
            font-weight: bold;
        }
        .datos-contacto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: .5rem;
            div{
                display: flex;
                flex-direction: row;
                img{
                    height: 1rem;
                    width: 1rem;
                }
        }
        }
    }
    .redes-sociales{
        display: flex;
        flex-direction: column;
        font-family: "montserrat";
        align-items: center;
        h6{
            font-weight: bold;
        }
        .links-redes{
            display: flex;
            flex-direction: row;
            gap: 16px;
        }
    }
}