.navbar-brand{
    width: 100%;
    background-color: $color-primario;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: black;
        h1{
            font-family: amaranth;
        }
    }
}

.interfaz-usuario{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .625rem;
    padding-right: 1.25rem;
    background-color: $color-primario;
    a{
        text-decoration: none;
        color: black;
        transition: transform 0.3s ease;
        font-family: amaranth;
        &:hover{
            transform: scale(1.1);  
        }
    }
}   

.navbar{
    background-color: $color-primario;
    font-family: amaranth;
}

.nav-link{
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.1);  
    }
}
