@media (max-width:768px){
    .informacion{
        display: flex;
        flex-direction: column;
    }

    .intro-quienes{
        h2{
            font-size: 1.875rem;
        }
        p{
            font-size: 1.125rem;
        }
    }

    .intro-guiadetalles{
        h2{
            font-size: 1.875rem;
        }
        p{
            font-size: 1.125rem;
        }
    }

    .intro-contacto{
        h2{
            font-size: 1.875rem;
        }
        p{
            font-size: 1.125rem;
        }
    }

    .presentacion-productos{
        h2{
            font-size: 1.875rem;
        }
        p{
            font-size: 1.125rem;
        }
    }

    .productos{
        .diego-uno{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .diego-dos{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .river{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .roman{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .lepra{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .messi{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .fiorentina-producto{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .barcelona-producto{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
        .boca-producto{
            img{
                width: 15.625rem;
                height: 15.625rem;
            }
        }
    }
    .barcelona{
        img{
            width: 15.625rem;
            height: 15.625rem;
        }
    }
    .boca{
        img{
            width: 15.625rem;
            height: 15.625rem;
        }
    }
    h2{
        font-size: 1.875rem;
    }
}