@media (max-width:850px){
    footer{
        .contactanos{
            .datos-contacto{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}